* {
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: calc(15px + 0.5vw);
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: black; 
    text-align: center;
    margin-bottom: 2px;
}

p {
    font-size: 1em;
    line-height: 2vw;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 50px;
}

a:active, a:focus {
    outline: none;
}

a:hover {
    color: purple;
    font-weight: bold;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 20% 10% 20%;
    padding: 2vw;
}

#start-button {
    cursor: pointer;
    background-color: purple;
    opacity: 80%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 2vh 5vh;
    margin-top: 5vh;
}

#start-button:hover {
    opacity: 1;
}

#timer {
    float: right;
}
